.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 72px);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #808080;
}

.notFound img {
    width: 65px;
    height: 75px;
}

.notFound p {
    margin-top: 40px;
    width: 210px;
}