.repositories{
    width: 100%;
    margin-left: 90px;
}

.repositories p{
    text-align: start;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
}

.repository{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 32px;
    border-radius: 6px;
    height: 60px;
    background: #ffffff;
    margin: 25px 0;
}

.repository a{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;
    text-decoration: none;
}

.repository p{
    margin-top: 15px;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 20px;
}