.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.empty p {
    margin-top: 50px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #808080;
}

.empty img {
    width: 76px;
    height: 62px;
}

@media (max-width: 900px) {
    .empty {
        height: 208px;
    }
}